/* цвет лого хедер 1. #4D5AE5 2. #2E2F42*/
/* основной цвет #2E2F42 */
/* цвет лого футер 1. #4D5AE5 2.  #F4F4FD */
/* цвет связь #434455 */
/* цвет под фото #434455 */
/* цвет список про нас #434455 */
/* цвет герои Н1 #FFFFFF */
/* цвет кнопка герои #FFFFFF фон #4D5AE5 */
/* футер Р #E7E9FC */
/* Background sectoin hero #2E2F42 */


/* Body */
:root{
    --logo-blue:#4D5AE5;
    --logo-black:#2E2F42;
    --white: #FFFFFF;
}

body{
    font-family: Roboto;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
h1{
    font-size: 56px;
    line-height: 1.07;
    font-weight: 600;
}
h2{
    font-size: 36px;
    line-height: 1.1;
    font-weight: 600;
}
h3{
    font-size: 20px;
    font-weight: 600;
}
/* header */
header{
    background-color: var(--white);
}
.logo-web{
    color: var(--logo-blue);
    font-family: raleway;
    font-size: 18px;
    font-weight: 800;
}
.logo-studiob{
    color: var(--logo-black);
    font-family: raleway;
    font-size: 18px;
    font-weight: 800;
    
}
.logo-studiow{
    color: #F4F4FD;
    font-family: raleway;
    font-size: 18px;
}
.nav-sec{
    color: var(--logo-black);
    font-size: 16px;
    font-weight: 600;
}
.nav-sec a:hover,
.nav-sec a:focus{
    color: #434455;
}


li{
    list-style: none;
}
/* main */
/* section hero */
.hero-sec > h1{
    color: var(--white);
    text-align: center;
    
}
.hero-sec{
    background-color: var(--logo-black);
}
/* Button */
button {
    color: var(--white);
    background-color: var(--logo-blue);
    font-weight: 600;
    cursor: pointer;
}
.nav-button{
    color: #4D5AE5;
    background-color: #E7E9FC;
    font-size: 16px;
    
}
.nav-button:hover,
.nav-button:focus{
    color: var(--white);
    background-color: var(--logo-blue);
}
/* Section About us */
.about-ul h3{
    color: var(--logo-black);
}

/* Section What are we doing */
.wawd{
    color: var(--logo-black);
}
.wawd > h2{
    color: var(--logo-black);
}
/* Section our team */
.team-sec{
    background-color: #F4F4FD;
}
.team-sec h2{
    color: var(--logo-black);
    
}
.our-team h3{
    color: var(--logo-black);
}

/* Footer */
footer{
    background-color: var(--logo-black);
}
.footer-p{
    color: #E7E9FC;
}
footer a{
    line-height: 1.16;
    font-weight: 800;
}
