/* цвет лого хедер 1. #4D5AE5 2. #2E2F42*/
/* основной цвет #2E2F42 */
/* цвет лого футер 1. #4D5AE5 2.  #F4F4FD */
/* цвет связь #434455 */
/* цвет под фото #434455 */
/* цвет список про нас #434455 */
/* цвет герои Н1 #FFFFFF */
/* цвет кнопка герои #FFFFFF фон #4D5AE5 */
/* футер Р #E7E9FC */
/* Background sectoin hero #2E2F42 */


/* Body */
:root{
    --logo-blue:#4D5AE5;
    --light-black:#434455;
    --white: #FFFFFF;
    --main-black:#2E2F42;
    --gray:#E7E9FC;
}

body{
    
    font-family: 'Roboto', sans-serif;
    color: var(--main-black);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    
}
.link{
    text-decoration: none;
}
    
.list{
    list-style: none;
}

.header-title{
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    color: var(--white);
    text-align: center;
}
.list-header{
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
}
.item-header{
    font-size: 20px;
    font-weight: 500;
}
.site-header{
    background-color: var(--white);
}
.link-web{
    color: var(--logo-blue);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-header{
    color: var(--main-black);
   
    
}
.logo-footer{
    color: #F4F4FD;
    
}
.nav-sec{

    font-weight: 500;
    
}
.item-connection:hover,
.item-connection:focus{
    color: var(--logo-blue);
}

.nav-item:hover,
.nav-item:focus{
    color: var(--logo-blue);
}
.nav-item{
    color: var(--main-black);
}
.item-connection{
    color: var(--light-black);
}

.description-photo{
    color: var(--light-black);
}

.hero-section{
    background-color: var(--main-black);
}


.main-button {
    font-weight: 500;
    cursor: pointer;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.hero-button{
    color: var(--white);
    background-color: var(--logo-blue);
}
.item-button{
    color: #4D5AE5;
    background-color: var(--gray);
    
    
}
.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;

}
.item-button:hover,
.item-button:focus{
    color: var(--white);
    background-color: var(--logo-blue);
}

.team{
    background-color: #F4F4FD;
}

.link-gallery{
    color: var(--main-black);
}
.about-us.description{
    color: var(--light-black);
}
.team-description{
    color: var(--light-black);
}


.main-footer{
    background-color: var(--main-black);
}
.footer-description{
    color: var(--gray);
}
.footer-link{
    line-height: 1.16;
    font-weight: 800;
    letter-spacing: 0.03em;
}
