/* цвет лого хедер 1. #4D5AE5 2. #2E2F42*/
/* основной цвет #2E2F42 */
/* цвет лого футер 1. #4D5AE5 2.  #F4F4FD */
/* цвет связь #434455 */
/* цвет под фото #434455 */
/* цвет список про нас #434455 */
/* цвет герои Н1 #FFFFFF */
/* цвет кнопка герои #FFFFFF фон #4D5AE5 */
/* футер Р #E7E9FC */
/* Background sectoin hero #2E2F42 */


/* Body */
:root{
    --logo-blue:#4D5AE5;
    --logo-black:#2E2F42;
    --white: #FFFFFF;
}

body{
    
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;

}
.header-title{
    font-size: 56px;
    line-height: 1.07;
    font-weight: 600;
    color: var(--white);
    text-align: center;
}
.title-section{
    font-size: 36px;
    line-height: 1.1;
    font-weight: 600;
}
.title-item{
    font-size: 20px;
    font-weight: 600;
}
/* header */
.site-header{
    background-color: var(--white);
}
.link-web{
    color: var(--logo-blue);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
}
.link-studiob{
    color: var(--logo-black);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    
}
.link-studiow{
    color: #F4F4FD;
    font-family: raleway;
    font-size: 18px;
    letter-spacing: 0.03em;
}
.nav-sec{
    color: var(--logo-black);
    font-size: 16px;
    font-weight: 600;
    list-style: none;
}
.nav-item:hover,
.nav-item:focus{
    color: var(--logo-blue);
}
.nav-item{
    color: var(--logo-black);
    list-style: none;
}
.item-connection{
    color: #434455;
    list-style: none;
}
.item-connection:hover,
.item-connection:focus{
    color: var(--logo-blue);
}
.main-connection{
    list-style: none;
}
.description-photo{
    color: #434455;
}
/* main */
/* section hero */
.main-navigation-portfolio{
    list-style: none;
}
.main-gallery{
    list-style: none;
}
    
.hero-section{
    background-color: var(--logo-black);
}

/* Button */
.main-button {
    color: var(--white);
    background-color: var(--logo-blue);
    font-weight: 600;
    cursor: pointer;
    border: none;
}
.item-button{
    color: #4D5AE5;
    background-color: #E7E9FC;
    font-size: 16px;
    
}
.item-button:hover,
.item-button:focus{
    color: var(--white);
    background-color: var(--logo-blue);
}
/* Section About us */
.title-item{
    color: var(--logo-black);
}
.about-item{
    list-style: none;
}

/* Section What are we doing */
.doing{
    color: var(--logo-black);
}
.doing-item{
    list-style: none;
}
.title-section{
    color: var(--logo-black);
}
/* Section our team */
.team-sec{
    background-color: #F4F4FD;
}
.team-item{
    list-style: none;
}

.item-portfolio{
    color: var(--logo-black);
}


/* Footer */
.main-footer{
    background-color: var(--logo-black);
}
.footer-description{
    color: #E7E9FC;
}
.footer-link{
    line-height: 1.16;
    font-weight: 800;
    letter-spacing: 0.03em;
}
